@import '../../../common/styles/sass/mixins';
@import '../../../common/styles/sass/variables';

.mainBlock {
  @include flex(column, flex-start, center, nowrap);
  min-height: 100vh;
  background-color: rgba(32, 33, 36, 1);

  .titleBlock {
    @include flex(column, center, center, nowrap);

    .title {
      @include text(50px, 50px, 600);
      color: white;
      margin: 30px 0 20px;
    }
  }

  .addNoteBlock {
    width: 100%;
    margin: 10px 0 10px;

    & form {
      @include flex(column, flex-start, center, nowrap);
      width: 100%;
      height: 100%;

      .error {
        @media screen and (max-width: 1199px) {width: 70%}
        @include text(15px, 15px, 500);
        width: 25%;
        margin-top: 7px;
        color: #bd1010;
      }

      .addTitle {
        @media screen and (max-width: 1199px) {width: 70%}
        @include text(17px, 17px, 400);
        width: 25%;
        height: 35px;
        padding: 6px 12px;
        box-shadow: none;
        box-sizing: border-box;
        border: none;
        background-color: rgba(255, 255, 255, 0.1);
        color: rgba(255, 255, 255, 0.7);

        &:focus {
          outline: 1px solid rgba(0, 0, 0, 0.2);
        }
      }

      .addDescription {
        @media screen and (max-width: 1199px) {width: 70%}
        @include text(17px, 17px, 400);
        width: 25%;
        min-height: 125px;
        margin: 10px 0 0;
        padding: 6px 12px;
        box-shadow: none;
        border: none;
        box-sizing: border-box;
        resize: none;
        background-color: rgba(255, 255, 255, 0.1);
        color: rgba(255, 255, 255, 0.7);

        &:focus {
          outline: 1px solid rgba(0, 0, 0, 0.2);
        }
      }

      .addButton {
        @media screen and (max-width: 1199px) {width: 70%}
        @include text(17px, 17px, 400);
        width: 25%;
        height: 40px;
        margin: 10px 10px 0;
        cursor: pointer;
        border: none;
        background-color: rgba(255, 255, 255, 0.2);
        color: rgba(255, 255, 255, 0.7);
        transition: 0.2s ease-in-out;

        &:hover {
          color: rgba(255, 255, 255, 0.9);
          background-color: rgba(255, 255, 255, 0.3);
        }
      }
    }
  }

  .searchBlock {
    @include flex(column, center, center, nowrap);
    width: 100%;
    margin: 10px 0 10px;

    .search {
      @include text(15px, 15px, 600);
      width: 27px;
      height: 40px;
      border-radius: 30px;
      padding-left: 15px;
      border: 0;
      transition: width 0.3s ease-in-out;
      cursor: pointer;
      position: relative;
      color: rgba(255, 255, 255, 1);
      background-color: rgba(255, 255, 255, 0.1);

      &:focus {
        @media screen and (max-width: 1199px) {width: 65%}
        width: 19%;
        outline: none;
        padding-left: 20px;
      }
    }
  }

  .tagsBlock {
    @include flex(row, center, center, wrap);
    min-height: 30px;
    width: 100%;
    margin: 10px 0 10px;

    .tagContainer {
      @include flex(column, center, center, wrap);
      min-width: 70px;
      height: 30px;
      margin-right: 10px;
      border-radius: 20px;
      background-color: rgb(255, 125, 0);
      cursor: pointer;

      .tag {
        @include text(17px, 17px, 600);
        padding: 10px;
      }
    }
  }

  .notesBlock {
    @include flex(row, flex-start, center, wrap);
    @media screen and (max-width: 1199px) {
      @include flex(column, flex-start, center, wrap);
      margin-bottom: 0;
    }
    width: 100%;
    margin: 15px 0 30px;
  }
}